<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />    
    <title>Document</title>
    <link rel="icon" href="" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- <script defer src="/node_modules/swup/dist/swup.min.js"></script> -->
</head>
<body>
    <header class="header-container">
        <h1 id="logo">LOGO</h1>
        <nav>
            <ul>
                <li>
                    <a href="#" class="active-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
                    <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div> -->
                </li>
                <li><a href="#">Discovery</a></li>
                <li><a href="#">Photos</a></li>
                <li><a href="#">Contact</a></li>
                <li><button><img src="../img/christopher-campbell-28567-unsplash@2x.png" alt=""></button></li>
            </ul>
        </nav>
    </header>
